<div class="container-fluid">
    <h2>Drivers</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3 class="inline">Lewis Hamilton</h3>
                    <h5 class="inline">Mercedes AMG Petronas</h5>
                    <!-- <img src="../../assets/img/mercedeslogo.png" class="inline"> -->
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h3>George Russel</h3>
                    <h5>Mercedes AMG Petronas</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

