<div class="container-fluid">
    <h2>Drivers</h2>
    <h4>2022 Championship</h4>
    <div class="container">
        <table class="card">
            <tr>
                <td class="number">
                    <h3>01</h3>
                </td>

                <td class="name">
                    <h3>Max Verstappen</h3>
                    <h5 class="redbull">Redbull</h5>
                </td>

                <td class="points">
                    <h3>454pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>02</h3>
                </td>

                <td class="name">
                    <h3>Charles Leclerc</h3>
                    <h5 class="ferrari">Ferrari</h5>
                </td>

                <td class="points">
                    <h3>308pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>03</h3>
                </td>

                <td class="name">
                    <h3>Sergio Perez</h3>
                    <h5 class="redbull">Redbull</h5>
                </td>

                <td class="points">
                    <h3>305pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>04</h3>
                </td>

                <td class="name">
                    <h3>George Russel</h3>
                    <h5 class="mercedes">Mercedes AMG Petronas</h5>
                </td>

                <td class="points">
                    <h3>275pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>05</h3>
                </td>

                <td class="name">
                    <h3>Carlos Sainz</h3>
                    <h5 class="ferrari">Ferrari</h5>
                </td>

                <td class="points">
                    <h3>246pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>06</h3>
                </td>

                <td class="name">
                    <h3>Lewis Hamilton</h3>
                    <h5 class="mercedes">Mercedes AMG Petronas</h5>
                </td>

                <td class="points">
                    <h3>240pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>07</h3>
                </td>

                <td class="name">
                    <h3>Lando Norris</h3>
                    <h5 class="mclaren">Mclaren</h5>
                </td>

                <td class="points">
                    <h3>122pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>08</h3>
                </td>

                <td class="name">
                    <h3>Esteban Ocon</h3>
                    <h5 class="alpine">Alpine</h5>
                </td>

                <td class="points">
                    <h3>92pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>09</h3>
                </td>

                <td class="name">
                    <h3>Fernando Alonso</h3>
                    <h5 class="alpine">Alpine</h5>
                </td>

                <td class="points">
                    <h3>81pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>10</h3>
                </td>

                <td class="name">
                    <h3>Valteri Bottas</h3>
                    <h5 class="alfa">Alfa Romeo</h5>
                </td>

                <td class="points">
                    <h3>49pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>11</h3>
                </td>

                <td class="name">
                    <h3>Daniel Ricardo</h3>
                    <h5 class="mclaren">Mclaren</h5>
                </td>

                <td class="points">
                    <h3>37pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>12</h3>
                </td>

                <td class="name">
                    <h3>Sebastian Vettel</h3>
                    <h5 class="aston">Aston Martin</h5>
                </td>

                <td class="points">
                    <h3>37pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>13</h3>
                </td>

                <td class="name">
                    <h3>Kevin Magnussen</h3>
                    <h5 class="ferrari">Haas</h5>
                </td>

                <td class="points">
                    <h3>25pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>14</h3>
                </td>

                <td class="name">
                    <h3>Pierre Gasly</h3>
                    <h5 class="alpha">Alphatauri</h5>
                </td>

                <td class="points">
                    <h3>23pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>15</h3>
                </td>

                <td class="name">
                    <h3>Lance Stroll</h3>
                    <h5 class="aston">Aston Martin</h5>
                </td>

                <td class="points">
                    <h3>18pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>16</h3>
                </td>

                <td class="name">
                    <h3>Mick Schumacher</h3>
                    <h5 class="ferrari">Haas</h5>
                </td>

                <td class="points">
                    <h3>12pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>17</h3>
                </td>

                <td class="name">
                    <h3>Yuki Tsunoda</h3>
                    <h5 class="alpha">Alphatauri</h5>
                </td>

                <td class="points">
                    <h3>12pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>18</h3>
                </td>

                <td class="name">
                    <h3>Zhou Guanyu</h3>
                    <h5 class="alfa">Alfa Romeo</h5>
                </td>

                <td class="points">
                    <h3>6pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>19</h3>
                </td>

                <td class="name">
                    <h3>Alexander Albon</h3>
                    <h5 class="williams">Williams</h5>
                </td>

                <td class="points">
                    <h3>2pts</h3>
                </td>
            </tr>
        </table>

        <table class="card">
            <tr>
                <td class="number">
                    <h3>20</h3>
                </td>

                <td class="name">
                    <h3>Nicolas Latifi</h3>
                    <h5 class="williams">Williams</h5>
                </td>

                <td class="points">
                    <h3>2pts</h3>
                </td>
            </tr>
        </table>
    </div>
</div>

