<div class="container-fluid">

    <!-- Carousel -->
    <div class="carousel slide" id="carousel" data-bs-ride="carousel">

        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
        </div>

        <!-- Images -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/img/f1w.jpeg" alt="f1" class="d-block w-100">
            </div>

            <div class="carousel-item">
                <img src="../../assets/img/mercedes.png" alt="f3" class="d-block w-100">
            </div>

            <div class="carousel-item">
                <img src="../../assets/img/ferrari.jpeg" alt="f2" class="d-block w-100">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div data-bs-spy="scroll" data-bs-target="#navbar">
        <section class="sections" id="section1">
            <h2>Introduction</h2>
            <p>Formula One (more commonly known as Formula 1 or F1) is the highest class of 
            international racingfor open-wheel single-seater formula racing cars sanctioned 
            by the Fédération Internationale de l'Automobile (FIA). The FIA Formula One World 
            Championship has been one of the premier forms of racing around the world since 
            its inaugural season in 1950. The word formula in the name refers to the set of 
            rules to which all participants' cars must conform. A Formula One season 
            consists of a series of races, known as Grands Prix. Grands Prix take place in 
            multiple countries and continents around the world on either purpose-built circuits 
            or closed public roads.
            </p>

            <p>A points system is used at Grands Prix to determine two annual World Championships: 
            one for the drivers, and one for the constructors (the teams). Each driver must hold a 
            valid Super Licence, the highest class of racing licence issued by the FIA,[2] and the 
            races must be held on tracks graded "1", the highest grade-rating issued by the FIA for 
            tracks.
            </p>

            <p>Formula One cars are the fastest regulated road-course racing cars in the world, 
            owing to very high cornering speeds achieved through the generation of large amounts 
            of aerodynamic downforce. Much of this downforce is generated by front and rear wings, 
            which have the side effect of causing severe turbulence behind each car. The turbulence 
            reduces the downforce generated by the cars following directly behind, making it hard 
            to overtake. Major changes made to the cars for the 2022 season has seen greater use of 
            ground effect aerodynamics and modified wings to reduce the turbulence behind the cars, 
            with the goal of making overtaking easier. The cars are dependent on electronics, 
            aerodynamics, suspension and tyres. Traction control, launch control, and automatic 
            shifting, plus other electronic driving aids, were first banned in 1994. They were briefly 
            reintroduced in 2001, and have more recently been banned since 2004 and 2008, respectively.
            </p>
        </section>

        <section class="sections" id="section2">
            <h2>Our new car</h2>
            <p>The dry, minimum weight of FORMULA 1 cars in 2023 is set to rise to 798kg, up two 
                kilograms on those raced in '22, RacingNews365.com has learned. Grand Prix cars have 
                gained significant weight in recent years with the advent of the heavy and complex turbo 
                hybrid power units and safety improvements, which include side impact structures and the 
                halo. Between 2021 and 2022, cars ballooned in weight due to the new technical regulations 
                which included 18-inch Pirelli tyres. The weight increased from an original 752kg to 795kg.
                However, as some teams struggled with porpoising during the first season of the new ground 
                effects era, teams were allowed to add an extra 2kg to combat this - via 'stays' fitted 
                between the outer and inner floor to provide support. An extra 1kg was added at the behest 
                of the FIA for extra sensors but an oversight in the technical regulations meant some of 
                this weight was not included in the 2023 regulations. The likes of Lewis Hamilton and Max 
                Verstappen have criticised the increase in weight, but RacingNews365.com now understands 
                that the rise to 798kg will come into effect, at the request of Pirelli. 
            </p>
            <div class="card">
                <img src="../../assets/img/mclaren.jpeg" class="section-img">
            </div>
            <div class="card">
                <img src="../../assets/img/ferrari2.jpeg" class="section-img">
            </div>
            <div class="card">
                <img src="../../assets/img/f1w14.png" class="section-img">
            </div>
            <div class="card">
                <img src="../../assets/img/alfa.jpeg" class="section-img">
            </div>
        </section>
    </div>

    <div class="footer">
        <div class="social">
            <a href="https://www.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://www.instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://www.discord.com"><ion-icon name="logo-discord"></ion-icon></a>
            <a href="https://www.github.com"><ion-icon name="logo-github"></ion-icon></a>
            <a href="#"><ion-icon name="mail"></ion-icon></a>
            <a href="#"><ion-icon name="call"></ion-icon></a>
        </div>
    </div>
</div>